[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
archivessnake = "*"
requests-mock = "*"

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
pylama = {extras = ["all"], version = "*"}
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
containers = "python -c \"from top_containers.cli import main; main()\""