[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
archivessnake = "*"
click = "*"
pandas = "*"

[dev-packages]
black = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
requests-mock = "*"
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
containers = "python -c \"from top_containers.cli import main; main()\""
